run1c/run1c.dtd

<!-- v.0.0.1 -->
<!ELEMENT		run1c	(g?, u*, b*, ub*)>
 <!ELEMENT	g	EMPTY>
 <!ELEMENT	u	EMPTY>
 <!ELEMENT	b	EMPTY>
 <!ELEMENT	ub	EMPTY>

<!ATTLIST	g
	bp	CDATA	#IMPLIED
	dp	CDATA	#IMPLIED
>

<!ATTLIST	u
	id	ID	#REQUIRED
	l	NMTOKEN	#IMPLIED
	p	NMTOKEN	#IMPLIED
>

<!ATTLIST	b
	id	ID	#REQUIRED
	p	NMTOKEN #REQUIRED
	t	CDATA	#REQUIRED
>

<!ATTLIST	ub
	uid	IDREF	#REQUIRED
	bid	IDREF	#REQUIRED
>
